annotated-types
asgiref
attrs
autobahn
Automat
bcrypt
cffi
channels
channels-redis
colorama
constantly
cryptography
daphne
Django
django-cors-headers
django-extensions
dnspython
email-validator
hyperlink
idna
incremental
MarkupSafe
msgpack
pillow
psycopg
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pyOpenSSL
redis
service-identity
setuptools
six
sqlparse
Twisted
txaio
typing_extensions
watchdog
Werkzeug
whitenoise
zope.interface
